//========== Hero area scss ==========

#hero {
  background: url(../image/hero-shap.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 170px 0;
  margin-top: -56px;
}

.hero-content {
  h1 {
    font-size: 55px;
    color: $white;
    font-weight: 700;
    line-height: 1.18;
    margin-bottom: 55px;
    text-transform: capitalize;
  }

  p {
    color: $white;
    padding-right: 215px;
  }

  .hero-btn {
    margin-top: 40px;

    button {
      @extend .BTN;
      background: $white;
      color: $black;
      border: none;
      font-size: 18px;
      margin: 0 20px 20px 0;
    }
  }
}

.hero-image {
  img {
    margin-bottom: 30px;
  }
}